
<div class="col-md-12 container" >
    <div class="col-md-9 div-center">
        <div class="row w3-padding w3-roun  w3-bottombar w3-border-green" style="background: #FFFF00;">
            <h3 class="text-center" style="color:#45af57;"><strong>HISTORIQUE FEDERALE</strong></h3>
            <p><strong>Introduit au Cameroun par des expatriés Français, Belges et Anglais le rugby a longtemps été pratiqué par une caste de blancs. Ceux-ci le pratiquaient tous les weekend- end dans le cadre de leurs loisirs. Peu à Peu, quelques Camerounais vont être conviés et formés à la pratique de la discipline. Peuple marqué par le culte du fort et de l’effort les camerounais ne vont  pas mettre du ... </strong>
            </p>
            <a ui-sref="Historique" class="w3-right w3-btn w3-btn-floating w3-white" href="" style="color: red; font-weight: bolder;" title="lire la suite"><span class="fa fa-chevron-right"></span></a>
        </div>
        <p class="row">&nbsp;</p>
        <div id="actualite" class="row w3-padding-hor-32 " style="background: rgba(255, 255, 0, 0.3)">
            <h3 class="text-center" style="color:#45af57;"><strong>ACTUALITES</strong></h3>
            <div class="col-md-6 " >
                <div class="w3-card">
                    <h4 class="text-center" ><a style="color: #cd040a"  ui-sref="Nationale" href="">Nationale</a></h4>
                    <div  class="bgvert w3-border w3-border-green">
                        <a ui-sref="Nationale" class="btn w3-padding-0" style="width: 100%"><img src="images/pub.png" alt="" class="img-responsive"> </a>
                        <p class="info w3-padding w3-text-white">Le rugby à la l'échelle internationale
                            <br>
                            <a ui-sref="Nationale" class="btn-follow w3-right w3-btn w3-btn-floating w3-white" href="" style="color: red; font-weight: bolder;" title="lire la suite"><span class="fa fa-chevron-right"></span></a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " >
                <div class="w3-card">
                    <h4 class="text-center" ><a style="color: #cd040a"  ui-sref="Internationale" href="">Internationale</a></h4>
                    <div  class="bgvert w3-border w3-border-green">
                        <a ui-sref="Internationale" class="btn w3-padding-0" style="width: 100%"><img src="images/pub.png" alt="" class="img-responsive"> </a>
                        <p class="info w3-padding w3-text-white">Dans un climat d’attente de confirmation de la participation effective du Cameroun en compétitions internationales par le Ministre des sports et de l’éducation Physique  , les anciennes gloires et sympathisant du rugby Camerounais peaufinent les derniers réglages pour leur jubilé collectif.
                            <br>
                            <a ui-sref="Internationale" class="btn-follow w3-right w3-btn w3-btn-floating w3-white" href="" style="color: red; font-weight: bolder;" title="lire la suite"><span class="fa fa-chevron-right"></span></a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 w3-margin-top w3-margin" >
                <img src="images/banderole.png" alt="logo" class="img-responsive" style="width: auto; margin: auto;">
            </div>
        </div>

    </div>

</div>

