<div class="row w3-center w3-medium">
    <ol class="breadcrumb" style="background-color: transparent; color: #D22024 !important">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Actualité</a></li>
        <li class="active">Nationale</li>
    </ol>
</div>
    <div class="col-md-10 w3-card-2 div-center actu w3-padding-0" style="">
        <div class="w3-col m2 text-center actu-img" style="">
            <img alt=""  src="images/5-08.png" />
            <p class="text-center">Nationale</p>
        </div>
        <div class="w3-col w3-padding m10 actu-desc" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolorum libero minima modi mollitia officia sed vel voluptatum! Accusamus cum dolorum error necessitatibus, non nulla obcaecati! Assumenda iusto obcaecati similique.
        </div>
    </div>
