 
        <div class="col-md-11 div-center container" style="border: 5px #daadb2 solid; border-top: none; background: #e7ecef; padding-top: 20px; padding-bottom: 20px">
            <div class="col-md-4" ng-repeat="e in equipes">
                <div class="col-md-12" style="padding: 0;height: 250px">
                    <img src="images/{{e.photo}}" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            {{e.nom}}
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>       
            <!--
            <div class="col-md-4">
                <div class="col-md-12" style="padding: 0;height: 250px">
                    <img src="images/ADDAX RUGBY CLUB.JPG" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            ADAX RUGBY
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            <div class="col-md-4" >
                <div class="col-md-12" style="padding: 0;height: 250px">
                    <img src="images/YUC RUGBY CLUB.JPG" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            YUC RUGBY
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="padding: 0; height: 250px">
                    <img src="images/serge betsen accademy ecole de rugby.jpg" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            Serge Betsen Accademy
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="padding: 0; height: 250px">
                    <img src="images/LEOPARD RUGBY CLUB DE DOUALA.jpg" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            LEOPARD RUGBY CLUB DE DOUALA
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="padding: 0; height: 250px">
                    <img src="images/Lions Rugby club de Yaoundé.jpg" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            Lions Rugby club
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="padding: 0; height: 250px">
                    <img src="images/ado rugby kwata 2.jpg" alt="" />
                    <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                        <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                            ADO KWATA
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-12"> </div>
                <div class="col-md-12 line2"></div>
            </div>
            -->
            <div class="col-md-12 hidden" style="margin-top: 30px; padding: 0; background: white; padding: 25px 0 25px 0">
                <div class="div-center col-md-10">
                    <div class="col-md-4" style="padding: 0">
                        <img src="images/Site FECARUGBY1-07.png" alt="" />
                        <div class="titre col-md-12 bold" style="color: #000000; position: absolute; bottom: 5%; ">
                            <div class="col-md-11 div-center" style="background: rgba(255,255,255,0.6); text-align: center; padding-top: 5px; padding-bottom: 5px">
                                CLUB HENRY DU NORD
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8"> 
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger! 
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!
                        voyage au Cameroun et découverte de ce jeune joueur de 1ere ligne très prometteur, A vous de juger!  ... </div>
                </div>
            </div>
            
        </div>

