<div class="footer" ng-hide="hideFooter" id="page-footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-3 footer-left">
					<h4>Adresse</h4>
						<address>
							Situe au dernier poteaux<br>
							a Ekie, entree piramide<br>
							<abbr title="telephone">Tel :</abbr> (+237) 699-988-240 <br>/ (+237) 671-180-244
						</address>
				</div>
				<div class="col-md-6 footer-middle">
					<h4>Contact</h4>
					<form>
						<div class="ft-lt">
							<input type="text" value="Nom" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Nom';}">
							<input type="text" value="Email" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Email';}">
							<input type="text" value="Sujet" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Sujet';}">
						</div>
						<div class="ft-rgt">
							<textarea placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
							<input type="submit" value="Envoyer">
						</div>
					</form>
				</div>

				<div class="col-md-3 footer-left">
					<h4>Nos reseaux</h4>
					<div class="soci">
									<a href="#" target="_blank"><i class="f-1"> </i></a>
									<a href="#" target="_blank"><i class="t-1"> </i></a>
									<a href="#" target="_blank"><i class="g-1"> </i></a>
								</div>
								<div>
									<h4 style="font-size: 18px">Nos partenaires</h4>
								</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="footer-text">
				<p>© 2016 NEAA Intelligence. <a href="#/login" class="text-muted">Admin</a> </p>
			</div>
		</div>
	</div>
