<!-- menu -->
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Menu</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
</div>
<!--/.navbar-header-->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
	<li ><a href="javascript:void(0)">Administration</a></li>
	<li><a href="#/decoration">Decorations</a></li>
	 <li><a href="#/materiel" >Materiel en location</a></li>
	<li><a href="#/photo" >Album Photo</a></li>
</ul>
</div>
<!--/.navbar-collapse-->
</nav>
<!-- menu end -->

<!-- login-page -->
	<div class="login">
	<div class="container">
		<div class="login-grids">
			<div class="col-md-6 log">
					 <h3>Administration</h3>

			</div>
			<div class="col-md-6 login-right">
					
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>
<!-- //login-page -->
