
<!-- banner -->
	<div class="banner-1">

	</div>
<!-- banner -->
<!-- register -->
		<div class="sign-up-form">
			<div class="container">
				<h3>Passe votre commande de location</h3>
					<p>Nous allons recervoir votre commande par mail , vous aussi allez recevoir une copie</p>
				<div class="sign-up">
					<h5>Personal Information</h5>
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="a">First Name* :</h4>
						</div>
						<div class="sign-up2">
							<form>
								<input type="text" placeholder=" " required=" "/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="b">Last Name* :</h4>
						</div>
						<div class="sign-up2">
							<form>
								<input type="text" placeholder=" " required=" "/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="c">Email Address* :</h4>
						</div>
						<div class="sign-up2">
							<form>
								<input type="text" placeholder=" " required=" "/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>
					<h6>Login Information</h6>
					<div class="sign-u">
						<div class="sign-up1">
							<h4 class="d">Password* :</h4>
						</div>
						<div class="sign-up2">
							<form>
								<input type="password" placeholder=" " required=" "/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>Confirm Password* :</h4>
						</div>
						<div class="sign-up2">
							<form>
								<input type="password" placeholder=" " required=" "/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>
					<form>
						<input type="submit" value="Commander">
					</form>
				</div>
			</div>
		</div>
<!-- //register -->
