<div >

    <h3>Bienvenu sur votre site yaound&eacute;immobilier.com <br>
    <br /></h3>

    <span class="w3-red w3-padding">
            ne cherchez plus trouvez !
        </span><br>

    <h3>Les terrains et autres biens qui sont propos&eacute;s sur ce
    site concernent exclusivement ceux&nbsp;&nbsp;pr&eacute;sents &agrave;
    yaound&eacute; ou ses environs, et qui en plus,&nbsp;&nbsp;disposent d´un titre
    de propri&eacute;t&eacute; conforme &agrave; la l&eacute;gislation
    camerounaise.selon les lois du cameroun, seuls les notaires sont
    habilit&eacute;s &agrave; enteriner les transactions immobili&egrave;res.
    ainsi, afin de pr&eacute;venir tout abus, nous vous conseillons vivement sans
    vous l´imposer, <br>
    <br /></h3>

    <h3>1) d´acheter de pref&eacute;rence les terrains dont le titre
    foncier est bel et bien disponible; et non celui qui sortira la semaine
    prochaine ou encore le mois prochain... <br>
    <br /></h3>

    <h3>2) de toujours v&eacute;rifier l´authenticit&eacute; du titre
    foncier aupr&egrave;s du conservateur foncier qui est le seul capable de
    communiquer au public des renseignements contenus dans ses archives et relatifs
    aux propri&eacute;taires. il vous d&eacute;livrera un document
    app&eacute;l&eacute; certificat de propri&eacute;t&eacute; qui d&eacute;crit
    l´immeuble, ses indications et sa consistance, sa situation, ses limites et les
    droits r&eacute;els immobiliers existants sur l´immeuble et les charges qui le
    gr&egrave;vent. <br>
    <br /></h3>

    <h3>3) enfin de proceder &agrave; la vente par devant notaire.</h3> <br>

</div>