<div >
  <p style="text-align : left">
    <b>Nyom 2.</b> Yaound&eacute; 1er &agrave; 1,5km du bitume, Dans
    agr&eacute;able lotissement de qualit&eacute;, 71 parcelles dont 08 restantes.
    Coin discret, calmes.<b>12000f/m&sup2;</b><br />
    <br /><b>Nyom 2.</b> Ferme Togolais. Dans petit lotissement r&eacute;sidentiel
    au calme 32 parcelles de terrain constructibles et viabilis&eacute;es. Ecoles
    &agrave; proximit&eacute;. <b>12000/m&sup2;<br />
    <br />Nkomdaba </b>74 hectares titr&eacute;s dont 25 hectares lotis. 134
    parcelles de terrain constructibles, proximit&eacute; poste de gendarmerie.
    Zone calme, &eacute;lectrifi&eacute;e. <b>6500f/m&sup2;</b><br />
    <br /><b>Nkoumetou,</b> route chinois, lotissement de 24 parcelles &agrave;
    b&acirc;tir au calme. Terrain plat, situ&eacute; &agrave; 150m du bitume.
    Proximit&eacute; &eacute;coles, lyc&eacute;es et centre de sant&eacute;.
    <b>8500f/m&sup2;</b><br />
    <br /><b>Nkometou, Ndong,</b> belle parcelle de 1000m&sup2; titr&eacute;
    situ&eacute; sur un environnement viabilis&eacute;. Proximit&eacute; centre
    commerciaux. Bitume &agrave; 100m <b>8500f/m&sup2;</b><br />
    <br /><b>Nkometou, carrefour Ekabitta,</b> sur route bitum&eacute; et &agrave;
    5mn de la nationale n&deg;1, tr&egrave;s beau et grand terrain titr&eacute; de
    <b>5000m&sup2;.</b>&nbsp;&nbsp;&nbsp;<br />
    <br /><b>Nkometou3,</b> &agrave; 1,7 du bitume, au lieu-dit NTO, superbe
    terrain viabilis&eacute; par un lotissement.&nbsp;&nbsp;47 parcelles de
    300m&sup2; &agrave; 1000m&sup2; disponible au&nbsp;&nbsp;calme, en pleine
    nature. <b>6000f/m&sup2;.</b><br />
    <br /><b>Nkometou lyc&eacute;e.</b>&nbsp;&nbsp;Lotissement de 55 parcelles
    viabilis&eacute;es dans zone &agrave; fort coefficient de chantiers. Commerce
    &agrave; proximit&eacute;. <b>8500f/m&sup2;</b><br />
    <br /><b>Nyom Mindjomo,</b> lotissement de 23 parcelles. Terrains plats offrant
    belle vue panoramique sur &eacute;tangs. <b>8000f/m&sup2;</b><br />
    <br /><b>Mindjomo</b> lotissement fra&icirc;chement viabilis&eacute; par engins
    BTP, &agrave; proximit&eacute; dun grand centre touristique denvergure
    international, 74 parcelles de terrains &agrave; b&acirc;tir.
    <b>8000f/m&sup2;</b><br />
    <br /><b>Mindjomo, </b>terrains titr&eacute; plat, 1hectares 4000m&sup2;
    constructible, agr&eacute;able pour Usine ou grand parc. <b>8000f/m&sup2;</b>
    <br />
    <br /><b>Mintotomo,</b> Contigu &agrave; un grand centre de sant&eacute;
    catholique, terrain bien proportionn&eacute; de <b>3hectares</b> offrant
    tr&egrave;s belle vue panoramique sur colline. <b>8000f/m&sup2;<br /><br /></b>
    <br />
  </p>
  <br />
</div>
