<div >
    <p style="text-align : left">
        <b>ODZA BORNE 12, </b>lotissement de 14 parcelles de
        terrains.&nbsp;&nbsp;&eacute;coles, march&eacute;, pharmacie et coll&egrave;ges
        aux alentours, endroit calme et agr&eacute;able pour vie de famille ou
        r&eacute;sidence s&eacute;condaires. enti&egrave;rement electrifi&eacute;
        (300m&sup2;, 400m&sup2;, 500m&sup2;, 1000m&sup2;, 2000m&sup2;)&nbsp;&nbsp;
    </p>
    <h1>15000m&sup2;<b><br /></b>
        </p>
    </h1></h1>
</div>