<div >
    <p style="text-align : left">
        <b>NLOBISSON, </b>lotissement de 38 parcelles de terrains situ&eacute; non loin
        de la nouvelle station total en construction.&nbsp;&nbsp;&eacute;coles et
        coll&egrave;ges aux alentours, endroit calme et agr&eacute;able pour vie de
        famille ou r&eacute;sidence s&eacute;condaires. (300m&sup2;, 400m&sup2;,
        500m&sup2;, 1000m&sup2;, 2000m&sup2;)&nbsp;&nbsp;
    </p>
    <h1>15000m&sup2;<br />
        </p>
    </h1></h1>
</div>