<div >
  <p style="text-align : left">
    <b>Nkolbisson,</b> situ&eacute; &agrave; 600m de la nouvelle
    sous-pr&eacute;fecture et &agrave; 3km du carrefour Nkolbisson, ce terrain
    plat, partiellement en chantier, offre une proximit&eacute; et une vue
    panoramique sur le camp sic Mendong. Quartier plein davenir
    et&nbsp;&nbsp;annonc&eacute; comme &eacute;tant au c&oelig;ur de la zone
    administrative. Opportunit&eacute; &agrave; saisir. <b>20000F /m&sup2;</b>
    <br /><b>
    <br />F&eacute;b&eacute; 1000m&sup2; titr&eacute; </b>Accessible et en pleine
    zone compl&egrave;tement viabilis&eacute; et constructible, joli terrain de
    1000m&sup2; situ&eacute; &agrave; proximit&eacute; dun coll&egrave;ge
    priv&eacute;. <b>20000f/m&sup2;</b> <br /><b>
    <br />F&eacute;b&eacute;. 3000m&sup2; titr&eacute;. </b>Accessible et en pleine
    zone compl&egrave;tement viabilis&eacute; et constructible, joli lot restant
    dun lotissement. Possibilit&eacute; de morcellement. <b>20000/m&sup2;</b>
    <br /><b>
    <br />F&eacute;b&eacute;. 122 lots &agrave; vendre. </b>Situ&eacute; au sommet
    dune colline, superbe lotissement de 5 hectares offrant vue panoramique et
    plongeante sur Bankolo, Dagobert, Nkolbisson, Oyomabang. Fraichement
    viabilis&eacute;, ce lotissement vous attend impatiemment. <b>20000f/m&sup2;
    <br />
    <br />F&eacute;be Village </b>Situ&eacute; &agrave; 4km du carrefour Bankolo,
    joli terrain plat de 1ha 7000m&sup2; constructible. Chantiers tout autour.
    <b>10000F/m&sup2;</b><br /><b>
    <br />Ongot, au lieu-dit kala, </b>&agrave; 8km de lusine des eaux de
    Nkolbisson, 15ha de terrain titr&eacute;, non loin de la nouvelle autoroute en
    chantier, id&eacute;al pour projets dhabitations ou agricoles voir usine.
    Possibilit&eacute; de morcellement.<b> 1800F/m&sup2;</b><br />
    <br /><b>Kolman,</b> &agrave; 4km de lusine des eaux de Nkolbisson, en
    contrebas de la carri&egrave;re exploit&eacute;e par les chinois, 1Ha
    4000m&sup2; titr&eacute; <b>7000F/m&sup2;<br /><br /></b><br /><br />
  </p>
  <br />
</div>