<div>
  <p style="text-align : left">
    Vous avez un projet dachat ou toute autre question, nous vous accompagnons
    et&nbsp;&nbsp;vous r&eacute;pondons:<br /> m_ithra@yahoo.fr<br />
    <br />Sur cette page, nous mettons &agrave; votre disposition, par souci de
    transparence,&nbsp;&nbsp;quelques informations tir&eacute;es des textes de la
    r&eacute;publique du Cameroun en relation avec la vente, lachat et
    limmatriculation des terrains.<br />DE LETABLISSSEMENT DU TITRE FONCIER.<br />
  </p>
  <p style="text-align : left">
    v  Chaque cas dimmatriculation donne lieu &agrave; l&eacute;tablissement par le
    conservateur foncier dun titre foncier comportant obligatoirement :<br />
  </p>
  &Oslash;
  <p style="text-align : left">
    La description de limmeuble avec indication de sa consistance, sa contenance,
    sa situation, ses limites, ses tenants et ses aboutissants ;
    <br />&Oslash;  Lindication de l&eacute;tat civil du propri&eacute;taire
    <br />&Oslash;  Les droits r&eacute;els existant sur limmeuble et les charges
    qui le gr&egrave;vent
    <br />&Oslash;  Un num&eacute;ro dordre et un nom particulier
    <br />&Oslash;  Un plan de limmeuble d&ucirc;ment sign&eacute; par un
    g&eacute;om&egrave;tre asserment&eacute; et vis&eacute; par le chef de service
    d&eacute;partemental du cadastre du lieu de situation de limmeuble.<br />
  </p>
  <br />
  <p style="text-align : left">
    v  Lorsquun titre foncier est &eacute;tabli au nom dun mineur ou de tout autre
    incapable, l&acirc;ge du mineur ou la nature de lincapacit&eacute; sont
    indiqu&eacute;s sur le titre.<br />
  </p>
  <br />
  <p style="text-align : left">
    v  Si la d&eacute;livrance du titre foncier est cons&eacute;cutive &agrave; une
    vente, le conservateur foncier doit, avant de demander le morcellement, ou
    op&eacute;rer la mutation ou la fusion, sassurer que :<br />
  </p>
  <br />&Oslash;
  <p style="text-align : left">
    La transformation a &eacute;t&eacute; effectu&eacute;e dans le respect des
    dispositions de larticle 8 de lordonnance&nbsp;&nbsp;n&deg; 74-1 du 06 juillet
    1974. (les actes constitutifs, translatifs ou extinctifs de droits r&eacute;els
    immobilier doivent, &agrave; peine de nullit&eacute;, <b><i>&ecirc;tre
    &eacute;tablis en la forme notari&eacute;e</b></i>. Sont &eacute;galement
    nulles de plein droit les cessions et locations de terrains urbains et ruraux
    non immatricul&eacute;s au nom du vendeur ou du bailleur)
    <br />&Oslash;  Limmeuble est situ&eacute; dans le rayon de sa
    comp&eacute;tence et quil est celui vis&eacute; dans lacte translatif du droit
    <br />&Oslash;  Le plan annex&eacute; &agrave; lacte a &eacute;t&eacute;
    d&ucirc;ment vis&eacute; par le chef du service d&eacute;partemental du
    cadastre du lieu de situation de limmeuble
    <br />&Oslash;  Lacte est r&eacute;gulier du point de vu de sa forme
    ext&eacute;rieure eu &eacute;gard &agrave; la r&egrave;glementation en
    mati&egrave;re denregistrement. <br />
  </p>
  <br />
  <p style="text-align : left">
    v  Le propri&eacute;taire, &agrave; lexclusion de toute autre personne, a droit
    &agrave; un duplicatum du titre foncier et du plan y annex&eacute;. Ce
    duplicatum unique est nominatif, et le chef service provincial des domaines en
    certifie lauthenticit&eacute; en y apposant sa signature et le timbre du
    service. <br />
  </p>
  <br />
  <p style="text-align : left">
    Autrement dit, &agrave; la suite dune vente, cest le notaire qui adresse au
    conservateur foncier votre dossier pour mutation dont les principaux
    &eacute;l&eacute;ments constitutifs sont : <br />
  </p>
  &sect;
  <p style="text-align : left">
    Lacte de vente
    <br />&sect;  Le dossier technique (le plan de limmeuble d&ucirc;ment
    sign&eacute; par un g&eacute;om&egrave;tre asserment&eacute; et vis&eacute; par
    le chef service du cadastre du lieu de situation de limmeuble)
    <br />&sect;  Le duplicatum (titre foncier) objet de la transaction<br />
  </p>
  <p style="text-align : left">
    Assurer vous donc avant tout achat que :<br />
  </p>
  <p style="text-align : left">
    1.  Le terrain est effectivement <i>titr&eacute; au nom du
    propri&eacute;taire</i> et quil nest grev&eacute; <i>daucune charge</i>.
    Do&ugrave; la n&eacute;cessit&eacute; dobtenir le CERTIFICAT DE PROPRIETE
    aupr&egrave;s du conservateur foncier.
    <br />2.  De proc&eacute;der &agrave; LIMPLANTATION DES BORNES MATERIALISANT la
    superficie du terrain objet de lachat par un g&eacute;om&egrave;tre
    asserment&eacute;. Cette op&eacute;ration vous permet <br />
  </p>
  <p style="text-align : left">
    A.  dy construire une cl&ocirc;ture fut-elle en mat&eacute;riaux provisoire ;
    <br />B.  de v&eacute;rifier que le terrain nest pas conflictuel (lorsquun
    g&eacute;om&egrave;tre pose le tr&eacute;pied de son appareil sur un terrain,
    cest tout le voisinage qui est en alerte. En cas de litige, croyez nous, la
    riposte des riverains sera imm&eacute;diate) ;
    <br />C.  enfin, vous pourrez pr&eacute;senter physiquement &agrave; des
    proches votre acquisition puisque vous saurez o&ugrave; se trouvent les bornes
    de votre terrain ou mieux encore lancer imm&eacute;diatement les travaux sur
    votre parcelle<br />
  </p>
  <p style="text-align : left">
    3.  Ce nest qu&agrave; la fin de lop&eacute;ration 1 et 2 que vous pourrez
    aller ou non verser le montant convenu de lachat DEVANT UN NOTAIRE, selon
    quelle sera concluante ou pas <br />
  </p>
  <p style="text-align : left">
    Et si daventure &agrave; lissue de ces conseils il vous venait &agrave;
    lid&eacute;e dacheter un terrain non titr&eacute; ou celui dont le titre
    foncier est en cours de d&eacute;livrance, ou, pire encore, de verser de
    largent au vendeur loin dun notaire, nous vous conseillons :<br />
  </p>
  <p style="text-align : left">
    1.  De faire du sport, pour mieux g&eacute;rer le stress
    <br />2.  De suivre un stage de maitrise de soi&nbsp;&nbsp;et de gestion de la
    col&egrave;re<br />3.  D&ecirc;tre patient, mais alors tr&egrave;s patient.
    <br />4.  DE PRIER SANS CESSE SUR Lhonn&ecirc;tet&eacute; DU VENDEUR !<br />
  </p>
  <br /><br />
  <p style="text-align : left">
    <br />
  </p>
  <br />
</div>