<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>
      terrain,calme,parcelles,lotissement,bitume,centre,grand,Terrains
    </title>
    <meta name="description" content="terrain,calme,parcelles,lotissement,bitume,centre,grand,Terrains" />
    <meta name="keywords" content="terrain,calme,parcelles,lotissement,bitume,centre,grand,Terrains" />
    <link href="css/greenban.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id="outer">
    <div id="header">
      <div id="titrered"><h1>terrain,calme,parcelles,lotissement,bitume,centre,grand,Terrains</h1></div>   
      <div class="logoimg"><p></p></div>
      <div class="entete"><p style="text-align : right">
  </p>
<h3>le terrain &agrave; port&eacute; de clic<br />
</p>
</h3></h3></div>
      <h1><a href="index.html">www.yaoundéimmobilier.com</a></h1>
       <form action="http://www.google.fr/cse" id="cse-search-box" target="_blank">
      <div>
        <input type="hidden" name="cx" value="partner-pub-9488644823252942:y97dvai7qcz" />
        <input type="hidden" name="ie" value="ISO-8859-1" />
        <input type="text" name="q" size="25" />
        <input type="submit" name="sa" value="Ok" />
      </div>
      </form>
      <script type="text/javascript" src="http://www.google.fr/cse/brand?form=cse-search-box&amp;lang=fr"></script> 
    </div>
    <div id="menu">
      <ul id="menuDeroulant">
        <li class="active"><a href="index.html">Accueil</a></li> 
        <li>
          <a href="#">sortie route OUEST</a>
        </li>
        <li>
          <a href="bankolo--febe--nkolbisson.html">Bankolo  fébé  Nkolbisson</a>
        </li>
        <li>
          <a href="plan-site.html">Plan site</a>
        </li>
      </ul> 
    </div>
    <div id="content">
      <div id="primaryContentContainer">  
        <div id="primaryContent">
          <p style="text-align : left">
            <b>Nyom I, 300m&sup2; titr&eacute; avec chantier inachev&eacute; dessus. </b>En 
            vente en raison du d&eacute;c&egrave;s du propri&eacute;taire, ce terrain est 
            un lot exceptionnel. Il se situe au c&oelig;ur dun quartier compl&egrave;tement 
            construit et viabilis&eacute;. Son prix tient compte des travaux (gros 
            &oelig;uvre) en cours sur le site.&nbsp;&nbsp;<b>10 000 000f<br /></b>
            <br /><b>Emana, 200m&sup2; titr&eacute;.</b> Situ&eacute; dans un quartier 
            enti&egrave;rement construit, ce lot est une perle rare. Eau 
            &eacute;lectricit&eacute;. Il offre le calme souhait&eacute; pour un lieu 
            dhabitation, ou dun immeuble avec sous-sol, tout en &eacute;tant &agrave; 5mn 
            des grands centres commerciaux, des h&ocirc;pitaux, de la nationale n&deg;1, et 
            de toutes les commodit&eacute;s offertes par les grandes villes. 
            Opportunit&eacute; &agrave; saisir.&nbsp;&nbsp;&nbsp;<b>25000f/m&sup2;
            <br /></b>
            </p>
          <h2>Nkomdaba </b>74 hectares titr&eacute;s dont 25 hectares lotis. 134 
          parcelles de terrain constructibles, proximit&eacute; poste de gendarmerie. 
          Zone calme, &eacute;lectrifi&eacute;e. <b>6500f/m&sup2;</b><br />
          <br /><b>Nkoumetou,</b> route chinois, lotissement de 24 parcelles &agrave; 
          b&acirc;tir au calme. Terrain plat, situ&eacute; &agrave; 150m du bitume. 
          Proximit&eacute; &eacute;coles, lyc&eacute;es et centre de sant&eacute;. 
          <b>8500f/m&sup2;</b><br />
          <br /><b>Nkometou, Ndong,</b> belle parcelle de 1000m&sup2; titr&eacute; 
          situ&eacute; sur un environnement viabilis&eacute;. Proximit&eacute; centre 
          commerciaux. Bitume &agrave; 100m <b>8500f/m&sup2;</b><br />
          <br /><b>Nkometou, carrefour Ekabitta,</b> sur route bitum&eacute; et 5mn de la 
          nationale n&deg;1, tr&egrave;s beau et grand terrain titr&eacute; de 
          <b>5000m&sup2;.</b>&nbsp;&nbsp;&nbsp;<br />
          <br /><b>Nkometou3,</b> &agrave; 1,7 du bitume, au lieu-dit NTO, superbe 
          terrain viabilis&eacute; par un lotissement.&nbsp;&nbsp;47 parcelles de 
          300m&sup2; &agrave; 1000m&sup2; disponible au&nbsp;&nbsp;calme, en pleine 
          nature. <b>6000f/m&sup2;.</b><br />
          <br /><b>Nkometou lyc&eacute;e.</b>&nbsp;&nbsp;Lotissement de 55 parcelles 
          viabilis&eacute;es dans zone &agrave; fort coefficient de chantiers. Commerce 
          &agrave; proximit&eacute;. <b>8500f/m&sup2;</b><br />
          <br /><b>Nyom Mindjomo,</b> lotissement de 23 parcelles. Terrains plats offrant 
          belle vue panoramique sur &eacute;tangs. <b>8000f/m&sup2;</b><br />
          <br /><b>Mindjomo</b> lotissement fra&icirc;chement viabilis&eacute; par engins 
          BTP, &agrave; proximit&eacute; dun grand centre touristique denvergure 
          international, 74 parcelles de terrains &agrave; b&acirc;tir. 
          <b>8000f/m&sup2;</b><br />
          <br /><b>Mindjomo, </b>terrains titr&eacute; plat, 1hectares 4000m&sup2; 
          constructible, agr&eacute;able pour Usine ou grand parc. <b>8000f/m&sup2;</b>
          <br />
          <br /><b>Nyom 2.</b> Yaound&eacute; 1er &agrave; 1,5km du bitume, Dans 
          agr&eacute;able lotissement de qualit&eacute;, 71 parcelles dont 16 restantes. 
          Coin discret, calmes.<b>12000f/m&sup2;</b><br />
          <br /><b>Nyom 2.</b> Ferme Togolais. Dans petit lotissement r&eacute;sidentiel 
          au calme 44 parcelles de terrain constructibles et viabilis&eacute;es. Ecoles 
          &agrave; proximit&eacute;. <b>12000/m&sup2;<br /></b>
          <br /><b>Mintotomo,</b> Contigu &agrave; un grand centre de sant&eacute; 
          catholique, terrain bien proportionn&eacute; de <b>3hectares</b> offrant 
          tr&egrave;s belle vue panoramique sur colline. <b>8000f/m&sup2;<br /><br /></b>
          <br />
          </p>
          </h2><br />
            </div>
        </div>     
        <div id="secondaryContent">
          <h3>Vous souhaitez entrer en contact avec les propri&eacute;taires ou visiter 
          les sites, contactez nous</h3>
        </div>
        <div id="tertiaryContent">
          <h2>691 500 645<br />663 975 836</h2>
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        
      </div>
    </div>
  
    <div class="spidsit"><a href="http://www.logiciel-creation-site.com">Créé avec le logiciel SpidSit</a></div>
  </body> 
</html>

